extends layout

block content
	div(class="container-fluid")
		div(class="row align-items-start")
			div(class="col-2")
				h3 Légende
				each borne in echelles[type]
					if borne["bornes"] != "manquant"
						p(class="mb-0")
							if borne["couleur"][3] == 0
								span(class="me-3")
									svg(xmlns="http://www.w3.org/2000/svg", width="16", height="16", class="bi bi-x-square", viewBox="0 0 16 16")
										path(d="M14 1a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1zM2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2z", fill="#000000")
										path(d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708", fill="#ff0000")
							else
								span(class="me-3")
									svg(xmlns="http://www.w3.org/2000/svg", width="16", height="16", fill="rgba(" + borne['couleur'][0] + "," + borne['couleur'][1] + "," + borne['couleur'][2] + "," + borne['couleur'][3] + ")", stroke="#000000", class="bi bi-square-fill", viewBox="0 0 16 16")
										path(d="M0 2a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2z")
							if borne.hasOwnProperty("commentaire")
								span= borne["commentaire"]
							else
								span= "[ " + borne["bornes"][0] + " ; " + borne["bornes"][1] + " ]"
			div(class="col-8", id="map")
			div(class="col-2")
				h3 Heures
				each heure in heures
					if heures_dispo.includes(heure)
						p(class="mb-0")
							a(class="link-opacity-50-hover heure text-dark heure-dispo", id=heure)= heure
					else
						p(class="mb-0")
							a(class="link-opacity-50-hover heure text-dark heure-non-dispo") #{heure} &#8226
	
	script.
		window.type = "#{type}";
	
	script(src="/javascripts/bundle.js", type="text/javascript")
	script(src="/javascripts/charger_images.js", type="text/javascript")
